<header class="header">
  <div class="container">

    <div class="top-nav hidden-xs">
      <ul class="pull-right">
        <li><%= link_to '网站管理', admin_root_path, rel: "nofollow" %></li>
      </ul>
    </div>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation_bars" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="logo"><a href="<%= root_path %>"><%= image_tag asset_pack_path 'media/images/logo.png'%></a></div>
    </div>

    <div class="main-nav collapse navbar-collapse" id="navigation_bars">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden-index active">
          <%=link_to t(".first_page"), root_path, data:{cont: t(".first_page")} %>
        </li>
        <li><%=link_to t(".articles"), articles_path %></li>
      </ul>
    </div>
  </div>
</header>