<div class="modal fade" id="add_category_modal" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="max-width: 400px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title"><%= t('category.add') %></h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal category_form">
          <div class="form-group">
            <label class="col-sm-3 control-label"><%= t('category.name') %>:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label"><%= t('category.name_en') %>:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="name_en">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal"><%= t("button.cancel") %></button>
        <button type="button" class="btn btn-success"><%= t("button.save") %></button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    var $addCategoryModal = $("#add_category_modal");
    var $addCategoryForm = $addCategoryModal.find(".category_form");

    $addCategoryModal.on('shown.bs.modal', function(){});

    $addCategoryForm.bootstrapValidator({
      feedbackIcons: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
      },
      fields: {
        name: {
          validators: {
            notEmpty: {
              message: '名称不能为空'
            }
          }
        },
        name_en: {
          validators: {
            notEmpty: {
              message: '英文名称不能为空'
            },
            regexp: {
              regexp: /^[-a-zA-Z0-9_]+$/,
              message: '英文名称格式错误！'
            }
          }
        }
      }
    });

    $addCategoryModal.find(".btn-success").on('click', function(event){
      $addCategoryForm.data('bootstrapValidator').validate();  
      if(!$addCategoryForm.data('bootstrapValidator').isValid()){
        return ;
      }
      $.ajax({
        url:'/admin/categories',
        data: $addCategoryForm.serialize(),
        type:'post',
        dataType:'json',
        success:function(data) {
          console.log(data);
          if(data.return_code == 0 ){
            location.reload();
         }else{
            BootstrapDialog.alert({
              message: '<strong><%= t('dialog.failed')%></strong>&nbsp;&nbsp;' + data.return_info,
              type: BootstrapDialog.TYPE_DANGER
            });
         }
        },
        error : function(data) {
          console.log(data);
          BootstrapDialog.alert({
              message: '<%= t('dialog.sys_error')%>',
              type: BootstrapDialog.TYPE_DANGER
          });
        }
      });
    });
  });
</script>