<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><%= t('category.name') %></th>
      <th><%= t('category.name_en') %></th>
      <th><%= t('common.status') %></th>
      <th><%= t('common.operate') %></th>
    </tr>
  </thead>
  <tbody>
    <% if @categories.size > 0 %>
      <% @categories.each do |category| %>
          <tr>
            <td><%= category['name'] %></td>
            <td><%= category['name_en'] %></td>
            <td><%= show_status(category['enabled']) %></td>
            <td>
              <%= link_to t('button.edit'), '',
                class: 'category-edit',
                data: {
                  id: category['id'],
                  name: category['name'],
                  name_en: category['name_en'],
                  toggle: "modal",
                  target: "#edit_category_modal"
                } %>

              <%= link_to t('category.move_up'), '#', class: 'glyphicon glyphicon-arrow-up', data:{id: category['id']} %>
              <%= link_to t('category.move_up'), '#', class: 'glyphicon glyphicon-arrow-down', data:{id: category['id']} %>

              <%= link_to(t('button.delete'), admin_category_path(category), method: :delete) %>
            </td>
          </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4" align="center"><%= t('common.no_result') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(function(){
    var trSize = $('.categories_list tbody tr').length;
    $('.categories_list .glyphicon-arrow-up').on('click', function(e){
      handle_move(e, 'up')
    });

    $('.categories_list .glyphicon-arrow-down').on('click', function(e){
      handle_move(e, 'down')
    });

    function handle_move(e, action){
      stopEventBubble(e);
      var that = $(e.currentTarget);
      var parentTr = that.parent().parent();
      var index = parentTr.index();
      var id = that.data('id');

      var url = '', hint = '';
      if(action == 'up'){
        url = '/admin/categories/move_up';
        hint = "<%= t('category.error.first')%>"
      }else{
        url = '/admin/categories/move_down';
        hint = "<%= t('category.error.last')%>";
      }
      if((index == 0 && action == 'up') || (index == (trSize - 1) && action == 'down')){
        BootstrapDialog.alert({
          message: hint,
          type: BootstrapDialog.TYPE_WARNING
        });
        return;
      }

      $.ajax({
        url: url,
        data: {id: id},
        type: 'post',
        dataType:'json',
        success:function(data) {
          if(data.return_code == 0 ){
            action == 'up' ? parentTr.after(parentTr.prev()) : parentTr.before(parentTr.next());
          }else{
            BootstrapDialog.alert({
              message: '<strong><%= t('dialog.failed')%></strong>&nbsp;&nbsp;' + data.return_info,
              type: BootstrapDialog.TYPE_DANGER
            });
          }
        },
        error : function(data) {
          BootstrapDialog.alert({
            message: '<%= t('dialog.sys_error')%>',
            type: BootstrapDialog.TYPE_DANGER
          });
        }
      });
    }
  })
</script>