<% content_for :title do %>
    <li><%= t('.my_article') %></li>
<% end %>

<div class="pull-right">
  <a href="<%= new_admin_article_path %>" class="btn btn-primary"><%= t('.new_article') %></a>
</div>

<div class="row query-form" style="">
  <%= form_tag(admin_articles_path, method: "get", remote: true, class: "form-inline") do %>
    <div class="form-group">
      <%= label_tag :label_id, t('.label') %>:
      <%= select_tag :label_id, label_options, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag :published, t('.status') %>:
      <%= select_tag :published, article_status_options, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag :keyword, t('.title') %>:
      <%= text_field_tag :keyword, '', class: 'form-control' %>
    </div>
    <%= submit_tag t('button.search'), class: "btn btn-default", data:{ disable_with: t('button.searching') } %>
  <% end %>
</div>

<div class="articles_list" style="margin-top: 20px;">
  <%= render :partial => "admin/articles/shared/articles_list" %>
</div>