<% content_for :title do %>
    <li><%= t('.my_article') %></li>
<% end %>
<div class="row">
  <%= form_tag(admin_articles_path, method: "get", remote: true, class: "search-form articles_search_form") do %>
    <div class="form-group col-sm-3">
      <label><%= t('.title') %>：</label>
      <%= text_field_tag :title, '', class: 'form-control' %>
    </div>

    <button type="submit" class="btn btn-primary" data-disable-with="<%= t('button.searching') %>">
      <%= t('button.search') %>
    </button>
  <% end %>
</div>
<div class="articles_list">
  <%= render :partial => "admin/articles/shared/articles_list" %>
</div>