<% content_for :title do %>
    <li><%= t('menu.my_article') %></li>
<% end %>
<div>
  <form>
    <div class="form-group col-sm-2">
      <label><%= t('article.title') %></label>
      <input type="text" class="form-control" name="title">
    </div>

    <div class="form-group col-sm-5">
      <label><%= t('article.category') %></label>
      <%= select_tag(:category, article_category_select_options) %>
    </div>

    <div class="form-group col-sm-5">
      <label><%= t('article.status_name') %></label>
      <%= select_tag(:status, article_status_select_options) %>
    </div>

    <div class="form-group col-sm-5">
      <label>Password</label>
      <input type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <button type="reset" class="btn btn-default">重置</button>
  </form>
</div>
<div class="articles_list">
  <%= render :partial => "articles/shared/articles_list" %>
</div>