<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th width="60%"><%= t('notice.content') %></th>
      <th width="20%"><%= t('notice.created_at') %></th>
      <th width="20%"><%= t('common.operate') %></th>
    </tr>
  </thead>
  <tbody>
    <% if @notices.size > 0 %>
      <% @notices.each do |notice| %>
          <tr>
            <td><%= notice['content'] %></td>
            <td><%= format_date(notice['created_at']) %></td>
            <td>
              <%= link_to t("button.delete"), admin_notice_path(notice),method: :delete, data:{confirm: t('common.delete_confirm')} %>
            </td>
          </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="3" align="center"><%= t('common.no_result') %></td>
      </tr>
    <% end %>
  </tbody>
</table>