<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>后台登录</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'login', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="container-wrapper">
	<div class="container col-lg-4">
		<%= form_tag({controller: "users", action: "do_login"}, method: "post", class: "form-horizontal") do %>
			<div class="form-title"><strong><%= t('management_system') %></strong></div>

			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" name="user_name" class="form-control" placeholder="<%= t('login.name_placeholder') %>">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
					<input type="password" name="password" class="form-control" autocomplete="off" placeholder="<%= t('login.pwd_placeholder') %>">
				</div>
			</div>
			<div class="form-error">
				<% if flash[:alert] %>
          <%= content_tag(:span, flash[:alert]) %>
				<% end %>
			</div>
			<div class="form-foot">
				<button type="submit" class="btn btn-primary col-lg-8"><%= t('login.btn') %></button>
			</div>
		<% end %>
	</div>
</div>
</body>
</html>