<div class="modal fade" id="add_tag_modal" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="max-width: 400px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title"><%= t('tag.add') %></h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal tag_form">
          <div class="form-group">
            <label class="col-sm-3 control-label"><%= t('tag.name') %>:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="name">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal"><%= t("button.cancel") %></button>
        <button type="button" class="btn btn-success"><%= t("button.save") %></button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    var $addTagModal = $("#add_tag_modal");
    var $tagForm = $addTagModal.find(".tag_form");

    $('.add_tag_btn').on('click', function(){
      $addTagModal.modal('show')
    })

    $tagForm.bootstrapValidator({
      feedbackIcons: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
      },
      fields: {
        name: {
          validators: {
            notEmpty: {
              message: '标签名称不能为空'
            }
          }
        }
      }
    });

    $addTagModal.find(".btn-success").on('click', function(event){
      $tagForm.data('bootstrapValidator').validate();
      if(!$tagForm.data('bootstrapValidator').isValid()){
        return ;
      }
      $.ajax({
        url:'/tags/create',
        data: $tagForm.serialize(),
        type:'post',
        dataType:'json',
        success:function(data) {
          console.log(data)
        },
        error : function() {
          BootstrapDialog.alert({
            title: '<%= t('dialog.title')%>',
            message: '<%= t('dialog.sys_error')%>',
            type: BootstrapDialog.TYPE_DANGER
          });
        }
      });
    });
  });
</script>