<header class="article-header">
  <h1 class="article-title">
    <a><%= article['title'] %></a>
  </h1>

  <div class="article-meta"> 
    <span class="item article-meta-time">
      <i class="glyphicon glyphicon-time"></i> 2016-1-4 10:29:39
    </span>

    <% if article['source'].present? %>
      <span class="item article-meta-source">
        <i class="glyphicon glyphicon-globe"></i> <%= article['source'] %>
      </span> 
    <% end %>
    
    <span class="item article-meta-category">
      <i class="glyphicon glyphicon-list"></i> <a href="" title=""><%= article['category'] %></a>
    </span> 

    <span class="item article-meta-views">
      <i class="glyphicon glyphicon-eye-open"></i> 共120人围观
    </span> 
  </div>
</header>
<article class="article-content">
  <% if article['attachment'].present? %>
    <p><img src="<%= article['attachment'] %>" alt="" /></p>
  <% end %>
  <%= article['blog'] %>
  <p class="article-small-title hidden-xs">
    <a href="">黄谱平博客</a> » 
    <a href=""><%= article['title'] %></a>
  </p>
</article>
<div class="article-tags">标签：
  <% if article['tags'].present? && article['tags'].size > 0 %>
    <% article['tags'].each do |tag| %>
      <a href="" rel="tag">tag</a>
    <% end %>
  <% end %>
</div>