<% @article ||= {}  %>
<%= hidden_field_tag(:id, @article['id']) %>
<div class="form-group" style="margin-bottom: 0;">
  <div class="col-lg-12">
    <label class="form_label"><%= t("article.title") %></label>
  </div>
</div>

<div class="form-group">
  <div class="col-lg-12">
    <input type="text" class="form-control" name="title" value="<%= @article['title']%>">
  </div>
</div>

<div class="form-group">
  <div class="col-lg-12">
    <label class="form_label"><%= t("article.summary") %></label>
    <textarea class="form-control" name='summary' rows="3"><%= @article['summary']%></textarea>
  </div>
</div>

<div class="form-group" style="padding-left: 15px; padding-right: 15px;">
  <%= kindeditor_tag :content, @article['content'], :editor_id => 'article_editor' %>
</div>

<div class="form-group" style="margin-bottom: 0;">
  <div class="col-lg-12">
    <label class="form_label"><%= t("article.category") %></label>
  </div>
</div>

<div class="form-group">
  <div class="col-lg-12">
    <% get_categories.each do |category| %>
      <div class="radio checkbox-inline" style="padding-top: 0px; padding-left: 0px;">
        <label>
          <input type="radio" name="category_id"  value="<%= category['id'] %>" <%= (category['id'] == @article['category_id']) ? 'checked' : '' %>>
          <%= category['name'] %>
        </label>
      </div>
    <% end %>
  </div>
</div>

<div class="form-group" style="margin-bottom: 0;">
  <div class="col-lg-2">
    <label class="form_label"><%= t("article.source_type_name") %></label>
  </div>
  <div class="col-lg-10">
    <label class="form_label"><%= t("article.tags") %></label>
  </div>
</div>

<div class="form-group">
  <div class="col-lg-2">
    <%= select_tag(:source_type, article_source_type_select_options(@article['source_type']), class: "form-control")%>
  </div>

  <div class="col-lg-10">
    <input type="text" class="form-control" name='tags' value="<%= @article['tags']%>">
  </div>
</div>

<div class="form-group">
  <div class="col-lg-6">
    <label class="form_label"><%= t("article.source") %></label>
    <input type="text" class="form-control" name="source" value="<%= @article['source']%>">
  </div>
  <div class="col-lg-6">
    <label class="form_label"><%= t("article.source_url") %></label>
    <input type="text" class="form-control" name="source_url" value="<%= @article['source_url']%>">
  </div>
</div>

<div class="form-group">
  <div class="col-lg-12">
    <%= upload_attachment_tag({"attachment_type" => "article"}) %>
  </div>
</div>

<div class="form-group">
  <div class="pull-right" style="padding-right: 15px;">
    <% if @article['status'] %>
        <button type="button" class="btn btn-default article_status" data-status="<%= @article['status'] %>">
          <%= t("article.status_edit.#{@article['status']}") %>
        </button>
    <% end %>
    <button type="submit" class="btn btn-primary article_save_btn"><%= t('button.save') %></button>
  </div>
</div>


<script type="text/javascript">
  $(function(){
    var $articleForm = $("#article_form");

    $articleForm.bootstrapValidator({
      feedbackIcons: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
      },
      fields: {
        title: {
          validators: {
            notEmpty: {message: '不能为空'},
            stringLength:{max: 64, message: '最大长度为64！'}
          }
        },
        category_id: {
          validators: {
            notEmpty: {message: '不能为空'}
          }
        },
        summary: {
          validators: {
            stringLength:{max: 255, message: '最大长度为255！'}
          }
        },
        tags: {
          validators: {
            notEmpty: {message: '不能为空'},
            stringLength:{max: 32, message: '最大长度为32！'}
          }
        },
        source: {
          validators: {
            stringLength:{max: 64, message: '最大长度为64！'}
          }
        },
        source_url: {
          validators: {
            stringLength:{max: 128, message: '最大长度为128！'}
          }
        }
      }
    });

    $('.article_save_btn').click(function() {
      $articleForm.bootstrapValidator('validate');
      if(!$articleForm.data('bootstrapValidator').isValid()){
        return false;
      }
      article_editor.sync();
      $articleForm.submit();
    });
  })
</script>
