<div class="share-list">
  <% @articles.each do |article| %>
    <div class="media share-item">
      <div class="media-date">
        <p class="md"><%= article.created_at.strftime("%m-%d") %></p>
        <p class="year"><%= article.created_at.strftime("%Y") %></p>
      </div>
      <div class="media-body">
        <a href="<%= article_path(article) %>">
          <h5 class="mt-0"><%= article.title %></h5>
          <p><%= article.content.slice(0, 100) %></p>
        </a>
      </div>
    </div>
  <% end %>
</div>
<div class="clear"></div>

<% if @total_count > 10 %>
  <div class="pagination-wrapper">
    <%== render :partial => 'pagy/nav_bootstrap', locals: { pagy: @pagy } %>
  </div>
<% end %>
