<aside class="sidebar">

  <div class="fixed">

    <div class="widget widget-tabs">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#notice" aria-controls="notice" role="tab" data-toggle="tab">网站公告</a></li>
        <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">联系站长</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane notice active" id="notice">
          <ul>
            <li><time><%= format_date(Time.now, '%Y-%m-%d')%></time><a href="javascript:void(0)" target="_blank">欢迎访问puping博客</a></li>
          </ul>
        </div>
        <div role="tabpanel" class="tab-pane contact" id="contact">
          <h2>Email:<br />
            <a href="mailto:admin@ylsat.com" data-toggle="tooltip" data-placement="bottom" title="pupinghuang@gmail.com">pupinghuang@gmail.com</a></h2>
        </div>
      </div>
    </div>

    <div class="widget widget_search">
      <%= form_tag('', method: "GET", class: 'navbar-form') do %>
        <div class="input-group">
          <%= text_field_tag('wd', nil, class: 'form-control', size: 35, placeholder: "请输入关键字", maxlength: "15", autocomplete: "off" ) %>
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">搜索</button>
          </span>
        </div>
      <% end %>

    </div>
  </div>

  <div class="widget widget_sentence">
    <h3>每日一句</h3>
    <div class="widget-sentence-content">
      <h4>2016年01月05日星期二</h4>
      <p>Do not let what you cannot do interfere with what you can do.<br />
        别让你不能做的事妨碍到你能做的事。（John Wooden）</p>
    </div>
  </div>

  <div class="widget widget_hot">
    <h3>热门文章</h3>
    <ul>
      <% hot_articles.each do |article| %>
        <li>
          <%= link_to article.title, article_path(article) %>
          <time><%= format_date(article.pubdate, '%Y-%m-%d') %></time>
        </li>
      <% end %>
    </ul>
  </div>
</aside>
