<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th width="26%"><%= t('article.title') %></th>
      <th width="6%"><%= t('article.source_type_name') %></th>
      <th width="15%"><%= t('article.tags') %></th>
      <th width="5%"><%= t('article.pv') %></th>
      <th width="15%"><%= t('article.pubdate') %></th>
      <th width="15%"><%= t('article.created_at') %></th>
      <th width="6%"><%= t('article.status_name') %></th>
      <th width="12%"><%= t('common.operate') %></th>
    </tr>
  </thead>
  <tbody>
    <% if @articles.size > 0 %>
      <% @articles.each do |article| %>
          <tr>
            <td><%= link_to article['title'], article_path(article['id']), target:'_blank' %></td>
            <td><%= t("article.source_type.#{article['source_type']}") %></td>
            <td><%= article['tags'] %></td>
            <td><%= article['pv'] %></td>
            <td><%= format_date(article['pubdate']) %></td>
            <td><%= format_date(article['created_at']) %></td>
            <td>
              <span class="<%= "article_#{article['status']}"%>"><%= t("article.status.#{article['status']}") %></span>
            </td>
            <td>
              <%= link_to t('common.edit'), edit_admin_article_path(article['id']) %>
              <%= link_to t("article.status_edit.#{article['status']}"), '#', data:{id: article['id']}, class: 'article_status_edit'%>
            </td>
          </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="8" align="center"><%= t('common.no_result') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="paginate-wrapper">
  <% if @articles.size > 0 %>
    <%= paginate @articles, params: {controller: 'articles', action: 'index'}, remote: true %>
  <% end %>
</div>

<script type="text/javascript">
  $(function(){
    $('.articles_list .article_status_edit').on('click', function(e){
      $.ajax({
        url:'/admin/articles/update_status',
        data: {id: $(this).data('id')},
        type:'post',
        dataType:'json',
        success:function(data) {
          if(data.return_code == 0 ){
            $('.articles_search_form').submit();
          }else{
            BootstrapDialog.alert({
              message: '<strong><%= t('dialog.failed')%></strong>&nbsp;&nbsp;' + data.return_info,
              type: BootstrapDialog.TYPE_DANGER
            });
          }
        },
        error : function() {
          BootstrapDialog.alert({
            message: '<%= t('dialog.sys_error')%>',
            type: BootstrapDialog.TYPE_DANGER
          });
        }
      });

      stopEventBubble(e);
    })
  })
</script>
