<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th width="40%"><%= t('.title') %></th>
      <th width="10%"><%= t('.pv') %></th>
      <th width="15%"><%= t('.pubdate') %></th>
      <th width="15%"><%= t('.created_at') %></th>
      <th width="10%"><%= t('.status') %></th>
      <th width="10%"></th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td>
          <%= article.label_id %>
          <%= link_to article.title, admin_article_path(article.id), target:'_blank' %>
        </td>
        <td><%= article.pv %></td>
        <td><%= format_date(article.pubdate) %></td>
        <td><%= format_date(article.created_at) %></td>
        <td>
          <span class="<%= "article_#{article.status}"%>"><%= t(".article_#{article.status}") %></span>
        </td>
        <td>
          <%= link_to t('button.edit'), edit_admin_article_path(article.id) %>
          <% if article.opened? %>
            <%= link_to t("article.publish"),
                "/admin/articles/publish/#{article.id}",
                method: :put,
                data: { confirm: t('article.publish_confirm') } %>
          <% end %>

          <%= link_to t("button.delete"),
              "/admin/articles/delete/#{article.id}",
              method: :delete,
              data: { confirm: t('common.delete_confirm') } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="paginate-wrapper">
  <%== render :partial => 'pagy/nav_bootstrap', locals: {pagy: @pagy} %>
</div>