<%- if flash[:errors].present? %>
  <div class="form-group">
    <div class="col-lg-12">

      <div class="alert alert-danger alert-dismissible text-center" role="alert" style="margin-bottom: 15px;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= flash[:errors].join(",") %>
      </div>
    </div>
  </div>
<%- end %>

<div class="form-group">
  <div class="col-lg-2">
    <%= f.label :label_id, t(".label") %>
    <%= f.select :label_id, label_options(with_all: false), {}, class: 'form-control' %>
  </div>
  <div class="col-lg-10">
    <%= f.label :title, t(".title") %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
</div>

<div class="form-group markdown-container">
  <div class="col-lg-12">
    <div class="toolbar-wrapper"></div>
  </div>
  <div class="markdown col-lg-12">
    <div class="editor">
      <%= f.text_area :body, class: 'form-control', style: "resize:none;", rows: 20 %>
    </div>
    <div class="barrier"></div>
    <div class="html-show"></div>
  </div>
</div>

<div class="form-group">
  <div class="pull-right" style="padding-right: 15px;">
    <%= f.submit t('.save'), class: "btn btn-primary"%>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    var $articleForm = $("#article_form");

    $articleForm.bootstrapValidator({
      feedbackIcons: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
      },
      fields: {
        'article[title]': {
          validators: {
            notEmpty: {message: '不能为空'},
            stringLength:{max: 255, message: '最大长度为255！'}
          }
        },
        'article[label_id]': {
          validators: {
            notEmpty: {message: '不能为空'}
          }
        }
      }
    });

    $articleForm.on("submit", function(){
      $articleForm.bootstrapValidator('validate');
      if(!$articleForm.data('bootstrapValidator').isValid()){
        return false;
      }
    });

    var $contentEditor = $('#article_content');

    $('.markdown-container .barrier').on('click', function(){
      var $htmlShow = $('.markdown-container .html-show');
      if($htmlShow.is(":hidden")){
        $htmlShow.show()
      }else{
        $htmlShow.hide()
      }
    });
    $contentEditor.on('keydown', function(ev){
      if(ev.altKey && ev.keyCode == 83) {//option + s 或者 alt + s
        $.post('/admin/markdown/convert_html', {'content': $(this).val()}, function(res){
          $('.html-show').html(res.content);
        })
      }
      stopEventBubble(ev);
    });
  })
</script>
