<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th width="40%"><%= t('.title') %></th>
      <th width="5%"><%= t('.pageview') %></th>
      <th width="15%"><%= t('.published_at') %></th>
      <th width="15%"><%= t('.created_at') %></th>
      <th width="10%"><%= t('.status') %></th>
      <th width="15%"></th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td>
          <%#= article.label.name %>
          <%= link_to article.title, admin_article_path(article.id), target:'_blank' %>
        </td>
        <td><%= article.pageview %></td>
        <td><%= format_date(article.published_at) %></td>
        <td><%= format_date(article.created_at) %></td>
        <td>
          <% status = article.published ? "published" : "unpublished" %>
          <span class="<%= "article_#{status}"%>">
            <%= t("article.status.#{status}") %>
          </span>
        </td>
        <td>
          <%= link_to t('button.edit'), edit_admin_article_path(article.id) %>
          <% if article.published? %>
            <%= link_to t("article.unpublish"), unpublish_admin_article_path(article), method: :patch %>
          <% else %>
            <%= link_to t("article.publish"), publish_admin_article_path(article), method: :patch %>
          <% end %>

          <%= link_to t("button.delete"),
              "/admin/articles/delete/#{article.id}",
              method: :delete,
              data: { confirm: t('common.delete_confirm') } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="paginate-wrapper">
  <%== render :partial => 'pagy/nav_bootstrap', locals: {pagy: @pagy} %>
</div>