<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th width="50%"><%= t('article.title') %></th>
      <th width="10%"><%= t('article.source_type_name') %></th>
      <th width="15%"><%= t('article.tags') %></th>
      <th width="15%"><%= t('article.created_at') %></th>
      <th width="10%"><%= t('common.operate') %></th>
    </tr>
  </thead>
  <tbody>
    <% if @articles.has_values? %>
      <% @articles.each do |article| %>
          <tr>
            <td><%= link_to article['title'], admin_article_path(article['id']), target:'_blank' %></td>
            <td><%= t("article.source_type.#{article['source_type']}") %></td>
            <td><%= article['tags'] %></td>
            <td><%= format_date(article['created_at']) %></td>
            <td></td>
          </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="8" align="center"><%= t('common.no_result') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="paginate-wrapper">
  <% if @articles.has_values? %>
    <%= paginate @articles, params: {controller: 'articles', action: 'index'}, remote: true %>
  <% end %>
</div>