<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="renderer" content="webkit">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>后台管理</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
      <div class="topbar-logo-wrap clearfix">
        <h1 class="topbar-logo none"><a href="index.html" class="navbar-brand"><%= t('backstage_management_system') %></a></h1>
        <ul class="navbar-list clearfix">
          <li><a class="on" href="/admin/index"><%= t('backstage_system') %></a></li>
          <li><a href="#" target="_blank"><%= t('blog_system') %></a></li>
        </ul>
      </div>
      <div class="top-info-wrap">
        <ul class="top-info-list clearfix">
          <li><a href="#"><%= t('admin') %></a></li>
          <li><a href="#"><%= t('modify_pwd') %></a></li>
          <li><a href="/users/logout" id="logout"><%= t('exit') %></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clearfix">
    <div class="sidebar-wrap">
      <div class="sidebar-title">
        <h1><%= t('menu.list') %></h1>
      </div>

      <div class="sidebar-content">
        <ul class="sidebar-list">
          <li>
            <a href="#"><%= t('menu.common_operation') %></a>
            <ul class="sub-menu">
              <li><a href="#"><%= t('menu.new_article') %></a></li>
              <li><a href="#"><%= t('menu.my_article') %></a></li>
              <li><a href="#"><%= t('menu.drafts') %></a></li>
              <li><a href="#"><%= t('menu.trash') %></a></li>
              <li><%= link_to t('menu.category'), categories_index_path%></li>
              <li><a href="#"><%= t('menu.message_board') %></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-wrap">
      <div class="crumb-wrap">
        <div class="crumb-left">
          <a class="btn btn-primary" href="#">
            <span class="glyphicon glyphicon-list"></span>
          </a>
          <% if content_for?(:title_h1) %>
            <span class="level1"><%= yield(:title_h1) %></span>
          <% end %>
        </div>
      </div>
      <div class="crumb_box"><%= yield %></div>
    </div>
  </div>
</body>
</html>