<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="renderer" content="webkit">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>puping博客后台管理</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="wrapper">

  <div class="header">
    <div class="header-title">
      <strong><a href="<%= root_path %>"><%= image_tag 'logo.png'%></a></strong>
      <small><%= t('management_system') %></small>
    </div>
    <div class="header-nav">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= current_user.username %><span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="glyphicon glyphicon-user"></i><%= t('user.info') %></a></li>
            <li><a href="#"><i class="glyphicon glyphicon-cog"></i><%= t('user.setting') %></a></li>
          </ul>
        </li>
        <li>
          <%= link_to(destroy_user_session_path, method: 'DELETE') do %>
            <i class='glyphicon glyphicon-off'></i><%= t('log_out')%>
          <% end %>
      </ul>
    </div>
  </div>

  <div class="container-wrapper">
    <nav class="container-nav">
      <ul class="nav">
        <li><a href="<%= admin_root_path %>"><i class="glyphicon glyphicon-home"></i><%= t('menu.first_page') %></a></li>
        <li><a href="<%= new_admin_article_path %>"><i class="glyphicon glyphicon-plus"></i><%= t('menu.new_article') %></a></li>
        <li><a href="<%= admin_articles_path %>"><i class="glyphicon glyphicon-menu-hamburger"></i><%= t('menu.my_article') %></a></li>
        <li><a href="<%= trash_admin_articles_path %>"><i class="glyphicon glyphicon-trash"></i><%= t('menu.trash') %></a></li>
        <li><a href="<%= admin_categories_path %>"><i class="glyphicon glyphicon-menu-hamburger"></i><%= t('menu.category')%></a></li>
        <li><a href="#"><i class="glyphicon glyphicon-bullhorn"></i><%= t('menu.message_board') %></a></li>
        <li><a href="<%= admin_notices_path %>"><i class="glyphicon glyphicon-volume-up"></i><%= t('menu.notice') %></a></li>
      </ul>
    </nav>
    <div class="container">
      <div class="container-title">
        <div class="title-img">
          <a class="btn btn-primary" href="javascript:void(0)">
            <span class="glyphicon glyphicon-list"></span>
          </a>
        </div>
        <div class="title-text">
          <ol class="breadcrumb">
            <!--<li>新增文章</li>-->
            <!--<li class="active">Library</li>-->
            <% if content_for?(:title) %><%= yield(:title) %><% end %>
          </ol>
        </div>
      </div>
      <div class="container-main">
        <%= yield %>
      </div>
    </div>
  </div>

</div>
</body>
</html>

