<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Pupi</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body style="padding-top: 51px;">
  <%= render partial: "layouts/shared/header" %>

  <div class="container-fluid main-wrapper">
    <div class="main-container">
      <%= yield %>
    </div>
    <%= render partial: "layouts/shared/side" %>
  </div>

  <div class="footer"><p>COPYRIGHT (&copy;) 2019 黄谱平个人站.</p></div>
</body>
</html>