<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="renderer" content="webkit">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>后台管理</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'cm_application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'cm_application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">
          <i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;<%= t('backstage_management_system') %>
        </a>
      </div>
      <ul class="nav navbar-right top-nav">
        <li><a class="navbar-brand" href="#"><%= t('admin') %></a></li>
        <li><a class="navbar-brand" href="#"><%= t('modify_pwd') %></a></li>
        <li><a class="navbar-brand" href="/users/logout"><%= t('exit') %></a></li>
      </ul>
    </nav>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">
        <li>
          <a href="/articles/new"><i class="glyphicon glyphicon-plus"></i><%= t('menu.new_article') %></a>
        </li>
        <li>
          <a href="/articles/index"><i class="glyphicon glyphicon-menu-hamburger"></i><%= t('menu.my_article') %></a>
        </li>
        <li>
          <a href="#"><i class="glyphicon glyphicon-bookmark"></i><%= t('menu.drafts') %></a>
        </li>
        <li>
          <a href="#"><i class="glyphicon glyphicon-trash"></i><%= t('menu.trash') %></a>
        </li>
        <li>
          <a href="/categories/index"><i class="glyphicon glyphicon-menu-hamburger"></i><%= t('menu.category')%></a>
        </li>
        <li>
          <a href="#"><i class="glyphicon glyphicon-bullhorn"></i><%= t('menu.message_board') %></a>
        </li>
      </ul>
    </div>

    <div id="container-wrapper">
      <div class="container-fluid">
        <div class="col-lg-12 row">
          <div class="container-title">
           <a class="btn btn-primary" href="javascript:void()">
            <span class="glyphicon glyphicon-list"></span>
          </a>
          <% if content_for?(:title_h1) %>
          <span class="level1"><%= yield(:title_h1) %></span>
          <% end %>
        </div>
      </div>
      <div class="container-main">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
</html>

