<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="renderer" content="webkit">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>后台管理</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'management_application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'management_application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="wrapper">

  <div class="header">
    <div class="header-title">
      <strong><a href="/home/index"><%= t('myblog_system') %></a></strong>
      <small><%= t('management_system') %></small>
    </div>
    <div class="header-nav">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= t('admin') %><span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="glyphicon glyphicon-user"></i><%= t('user.info') %></a></li>
            <li><a href="#"><i class="glyphicon glyphicon-cog"></i><%= t('user.setting') %></a></li>
          </ul>
        </li>
        <li><a href="/users/logout"><i class="glyphicon glyphicon-off"></i><%= t('log_out') %></a></li>
      </ul>
    </div>
  </div>

  <div class="container-wrapper">
    <nav class="container-nav">
      <ul class="nav">
        <li><a href="/management/index"><i class="glyphicon glyphicon-home"></i><%= t('menu.first_page') %></a></li>
        <li><a href="/articles/new"><i class="glyphicon glyphicon-plus"></i><%= t('menu.new_article') %></a></li>
        <li><a href="/articles/index"><i class="glyphicon glyphicon-menu-hamburger"></i><%= t('menu.my_article') %></a></li>
        <li><a href="#"><i class="glyphicon glyphicon-bookmark"></i><%= t('menu.drafts') %></a></li>
        <li><a href="#"><i class="glyphicon glyphicon-trash"></i><%= t('menu.trash') %></a></li>
        <li><a href="/categories/index"><i class="glyphicon glyphicon-menu-hamburger"></i><%= t('menu.category')%></a></li>
        <li><a href="#"><i class="glyphicon glyphicon-bullhorn"></i><%= t('menu.message_board') %></a></li>
      </ul>
    </nav>
    <div class="container">
      <div class="container-title">
        <div class="title-img">
          <a class="btn btn-primary" href="javascript:void(0)">
            <span class="glyphicon glyphicon-list"></span>
          </a>
        </div>
        <div class="title-text">
          <ol class="breadcrumb">
            <!--<li>新增文章</li>-->
            <!--<li class="active">Library</li>-->
            <% if content_for?(:title) %><%= yield(:title) %><% end %>
          </ol>
        </div>
      </div>
      <div class="container-main">
        <%= yield %>
      </div>
    </div>
  </div>

</div>
</body>
</html>

